.item_container
    width: 75%
    margin: 0 auto
    margin-top: 20px

    .items
        .item
            padding: 20px
            background: #FFF9DF
            -moz-border-radius: 20px

            .admin-panel
                float: right
                font-size: 14px

            .title
                display: block
                font-size: 28px
                font-weight: bold

            .description
                display: block

        .even
            background: #EFFCFF

