#form_container {
  width: 75%;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px; }
  #form_container .formtastic textarea, #form_container .formtastic input {
    width: 100%;
    border: 1px solid #aaaaaa;
    -moz-border-radius: 3px;
    border-radius: 3px; }
  #form_container .formtastic label {
    font-size: 14px;
    padding: 5px 0;
    display: block; }
  #form_container .formtastic li.commit {
    float: right;
    margin-top: 10px; }
  #form_container .formtastic li.error textarea, #form_container .formtastic li.error input {
    border: 1px solid red;
    background: #fff9df; }
  #form_container .formtastic p.inline-errors {
    text-align: right;
    font-size: 14px;
    padding: 5px 0;
    color: red; }
  #form_container .formtastic ul.errors li {
    color: white;
    font-size: 14px;
    padding: 5px;
    background: #df0d16;
    -moz-border-radius: 5px;
    border-radius: 5px;
    width: 75%;
    margin: 0 auto;
    margin-bottom: 5px;
    font-weight: bold; }
